<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fas fa-paw"></i> See Spot</a>
    <div class="menu">
      <a href="/">Home</a>

      <!--<a href="#">Sign In</a>-->
      <a href="/posts/lost">Lost Pets</a>
      <a href="/posts/found" class="last">Found Pets</a>
      <div class="clear"></div>
    </div>
  </div>
</nav>
