<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-paw"></i> See Spot</a>
    <div class="menu">
      <!--<a href="#">Sign In</a>-->
      <a href="/posts/lost">Lost Pets</a>
      <i class="fas fa-paw"></i>
      <a href="/posts/found">Found Pets</a>
      <i class="fas fa-paw"></i>
      <a href="/posts/reunited">Reunited Pets</a>
      <i class="fas fa-paw"></i>
      <a href="/posts/new" class="last">Post a Pet</a>
      <i class="fas fa-paw"></i>
      <!--div class="clear"></div-->
      <% if(currentUser) { %>
        <a href="/users/sign_out">Sign out</a>
        <i class="fas fa-paw"></i>
      <% } else { %>
        <a href="/users/sign_in">Sign in</a>
        <i class="fas fa-paw"></i>
        <% }%>
    </div>
  </div>
</nav>
