<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Have you seen Spot?</h1>
          <p class="lead">See Spot is collection of lost and found pets in West Michigan</p>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p><i class="fas fa-cat"></i></p>
            <p class="card-text">Post any lost or found pets</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p><i class="far fa-comments"></i></p>
            <p class="card-text">Stay informed and share any information you may have on displaced animals.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Review</h4>
            <p><i class="fas fa-dog"></i></p>
            <p class="card-text">Look through postings to see if you recognize any of the lost and found pets</p>
          </section>

          <section class="col-lg-4">
            <a href="#" class="btn btn-primary btn-lg">Sign up</a>
          </section>

        </section>
        <!-- /.row -->



      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>
