<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Found Animals</h1>

      <ul class="list-group">

        <% posts.forEach((post) => { %>
        <%  if(post.found == true && post.reunited == false) { %>

          <li class="list-group-item">
            <p>Found Pet</p>
            <p> <% post.animal %> </p>
            <p> <% post.color %> </p>
            <p> <% post.description %> </p>
            <p> <% post.date %> </p>
            <p> <% post.other %> </p>

          </li>
          <% } %>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
