<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Post a lost or found pet</h1>

      <form action="/posts/create" method="post">

        <div class="form-group">
          <label for="lost">Was this pet lost or found?</label>
          <input type="checkbox" class="form-control" name="lost" aria-describedby="lost">Lost</input>
          <input type="checkbox" class="form-control" name="found" aria-describedby="found">Found</input>
        </div>
<!--The name has to be different to submit properly, but the name has to be the same if we want user to choose only one
-->
        <div class="form-group">
          <label for="animal">What type of animal is it?</label>
          <textarea rows="1" class="form-control" name="animal" placeholder="Cat, Dog, Bird, etc."></textarea>
        </div>

        <div class="form-group">
          <label for="color">What color is the animal?</label>
          <textarea rows="2" class="form-control" name="color" placeholder="Color and color patterns are helpful"></textarea>
        </div>

        <div class="form-group">
          <label for="description">Please describe the animal</label>
          <textarea rows="4" class="form-control" name="description" placeholder="Large? Small? Male? Female? Any unique characteristics?"></textarea>
        </div>

        <div class="form-group">
          <label for="date">When was the animal lost/found?</label>
          <input name="date" type="date" value="2019-02-01">
          <!-- this needs work -->
        </div>

        <div class="form-group">
          <label for="other">What other information can you share about the animal?</label>
          <textarea rows="4" class="form-control" name="other" placeholder="Where was the animal found? Is the animal energetic, skiddish, hurt, etc? "></textarea>
        </div>

        <div class="form-group">
          <label for="reunited">Has this pet been runited with its owner?</label>
          <input type="checkbox" class="form-control" name="reunited" aria-describedby="reunited">Yes</input>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
